.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.navbar > ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.navbar > ul > li {
  padding: 5px;
}
.logo > a > img {
  width: 100px;
  height: 100px;
}

.restaurant-card {
  padding: 10px;
  margin: 10px;
  width: 300px;
  border: 1px solid black;
}

.restaurant-card > img {
  width: 100%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.search-result {
  display: none;
}
